@media only screen and (max-width: 600px){
body {
    background-color: lightblue;
}
header{
    height: 600px;
    max-width: 100%;
    background-color: rgb(0, 0, 0);

}
.top_header{
    height: 150x;
    background-color: rgb(30, 18, 54)
}
.top_header .logo{
    width:30%;
    height: 100%;
}
.menu{
    width:60%;
}
.menubar{

    width: 100%;
    display: none;
    position: absolute;
    top: 9%;
    left: -5%;
}
.menubar nav ul{
    display: none;
    float: right;
    }
.menubar nav ul li{
    display: inline;
}
.menubar nav ul li a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 50px 40px;
    
}
.menubar nav ul li a:hover{
    background-color: rgb(187, 156, 156);
    border-radius: 10px;
}
.togg{
    width:30%;
    position: relative;
   left:60%
}

    .toggle{
        right:15%;
        font-size: 50px;
        position: relative;
        top:10%;
        display:block;
        color: rgb(255, 255, 255);
    }
    .togg:hover~.menubar{
        display:block;
    }
    
}